*, *::before, *::after{
  margin: 0;
  padding: 0;
}

:root {
  --black: #2c2c2c;
  --white: #fbfbfb;
  --gray:  #e6efed;
  --blue:  #004ad6;
  --green: #279303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--black);
  line-height: 1.6;
  min-height: 100vh;
}

.header {
  background-color: var(--black);
  color: var(--white);
  padding: 1rem 0;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img{
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
}

.hero {
  background-color: var(--gray);
  padding: 3rem 2rem;
  text-align: center;
}

.hero-content h1 {
  font-family: oswald;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
}

.hero-content p {
  margin-bottom: 2rem;
}

.schedule{
  padding: 10px;
  text-align: center;
}

.schedule img{
  margin: 0;
}

#countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem; /* Space between time boxes */
}

.time-box {
  text-align: center;
}

.time-box span {
  font-size: 8vw; /* Large, responsive font size */
  display: block;
}

.time-box p {
  font-size: 2vw; /* Smaller font size for labels */
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.crossover {
  display: flex;          /* Set the container to use flexbox */
  justify-content: space-between;  /* Space out the child elements */
  align-items: center;    /* Vertically align the elements */
  width: 100%;    
}

.left-crossover {
  flex: 1;                /* Left crossover takes up available space */
  padding: 10px;
  background-color: #f0f0f0; /* Optional styling */
}

.right-crossover {
  flex: 1;                /* Right crossover takes up available space */
  padding: 10px;
  background-color: #e0e0e0; /* Optional styling */
}

.crossover-header{
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #333;
  border-radius: 8px;
  padding: 10px;
  width: 200px;
  margin-bottom: 20px;
  box-shadow: 5px 10px #888888;
}

.container h3{
  color: var(--black);
  background: var(--white);;
  padding: 0 5px;
  margin-bottom: 5px;
  border-radius: 10px;
}

.team-upper,
.team-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  color: var(--white);
}

.team-upper{
  background: var(--blue);
  border-radius: 10px 10px 0 0;
}

.team-lower{
  background: var(--green);
  border-radius: 0 0 10px 10px;
}

.team-logo img {
  width: 40px;
  min-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.team-name {
  font-weight: bold;
  font-size: 14px;
  flex-grow: 1;
  text-align: center;
  margin-left: 5px;
}

.team-score {
  font-size: 12px;
  color: var(--white);
  min-height: 30px;
  width: 30px;
  text-align: center;
  border: 3px solid var(--white);
  border-radius: 4px;
  padding: 5px;
}

.spacer {
  width: 80%;
  height: 5px;
  background-color: var(--black);
  border-radius: 5px;
  margin: 10px 0;
}

/* Finals Highlight */
.final-bracket .container, .bf3rd-bracket .container{
  text-align: center;
  margin-left: 150px;
}

.final-bracket .container{
  position: relative;
  background-image: url('/public/images/trophy.png');
  background-size: cover;  /* Adjusts the image to cover the whole div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents repeating the image */
}

.round-robin{
  text-align: center;
  background: var(--black);
  color: var(--white);
  padding: 10px;
}

.rules{
  padding: 10px;
  text-align: center;
}

.rules a{
  color: var(--black);
  font-weight: 200;
}

.footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header{
    width: 100%;
  }

  .schedule img{
    width: 75%;
  }

  .container {
    width: 90%;
  }
  .final-bracket .container, .bf3rd-bracket .container{
    margin-left: 0;
  }
  .crossover {
    display: block;             /* Switch to block layout on small screens */
  }

  .left-crossover, .right-crossover {
    width: 100%;                /* Each child takes full width */
    margin-bottom: 10px;        /* Add space between them */
  }

  .rules{
    text-align: left;
  }
}